<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.address %>
</p>
<%= link_to 'Pedido', orders_path %> |
<br />
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>