
<h1>Pedidos
</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.client.name  %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edita', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo pedido', new_order_path %>
<%= link_to 'Voltar', clients_path %>
