<div class="header">
  <h1>Pedido #
    <%= @item.order_id %>
  </h1>
</div>

<div class="content">
  <p>
    <strong>Status:</strong>
    <%= @order.status %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= @order.client.name %>
  </p>
</div>

<div class="middle-link">
  <h3>
    <%= link_to 'Voltar', orders_path %>
  </h3>
</div>

<hr>
<div class="header">
  <h1> Adicionar item ao pedido</h1>
</div>
<%#= link_to 'Add item', new_order_item_path(@item.order) %>
<div class="form">
  <%= render 'items/form' %>
</div>
<br>

<hr>

<div class="footer">
  <h1><%= link_to "Ver resumo do pedido", order_items_path(@item.order) %></h1>
</div>