

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<hr>
<h1> New Items </h1>
<%#= link_to 'Add item', new_order_item_path(@item.order) %>
<%= render 'items/form' %>
<hr>

<h1>
  <%= link_to "My items", order_items_path(@item.order) %>
</h1>