<div class="header">
  <h1>Resumo do pedido #<%= @order.id %>
  </h1>
</div>
<div class="contact">
  <h3>Cliente: <%= @order.client.name %>
  </h3>
  <h3>Telefone: <%= @order.client.phone_number %>
  </h3>
  <h3>Endereço: <%= @order.client.address %>
  </h3>
</div>

<br>
<table class="list-order">
  <tr>
    <th>Tipo</th>
    <th>Preço</th>
    <th>Cor</th>
    <th>Item</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.tipo %></td>
    <td>R$ <%= item.price %></td>
    <td><%= item.color %></td>
    <td><%= item.id %></td>
    <%# <td><%= link_to 'Mostrar', [item.order, item] %><%#</td> %>
    <td><%= link_to 'Editar', edit_order_item_path(item.order, item) %></td>
    <td><%= link_to 'Deletar', [item.order, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= button_to "ENTREGAR", root_path, :method => "get", class:"button" %>



<h1 class="footer">
  <%= link_to 'Adicionar novo item a este pedido', new_order_item_path %>
  <%= link_to 'Ver lista de pedidos', orders_path %>
</h1>
