

<p>
  <b>Tipo:</b>
  <%= @item.tipo %>
</p>

<p>
  <b>Preço:</b>
  <%= @item.price %>
</p>

<p>
  <b>Cor:</b>
  <%= @item.color %>
</p>

<p>
  <b>Pedido:</b>
  <%= @item.order_id %>
</p>
<p>
  <b>Item:</b>
  <%= @item.id %>
</p>


<%= button_to "ENTREGA", root_path, :method => "get" %>


<%#= link_to 'Edit', edit_order_item_path(@item.order, @item) %> |
<%= link_to 'Voltar', order_items_path(@item.order) %>
