 <div class="header">
  <h1>Item #
  <%= @item.id %>
  </h1>
 </div>

<div class="content-item"> 
  <p>
    <b>Tipo:</b>
    <%= @item.tipo %>
  </p>

  <p>
    <b>Preço:</b>
    <%= @item.price %>
  </p>

  <p>
    <b>Cor:</b>
    <%= @item.color %>
  </p>

  <p>
    <b>Pedido:</b>
    <%= @item.order_id %>
  </p>
  <p>
    <%#= @item.id %>
  </p>
</div>

<br>
<hr>

<div class="footer"> 
  <%= link_to 'Voltar', order_items_path(@item.order) %>
</div>